/*
 *  TAP-Win32 -- A kernel driver to provide virtual tap device functionality
 *               on Windows.  Originally derived from the CIPE-Win32
 *               project by Damion K. Wilson, with extensive modifications by
 *               James Yonan.
 *
 *  All source code which derives from the CIPE-Win32 project is
 *  Copyright (C) Damion K. Wilson, 2003, and is released under the
 *  GPL version 2 (see below).
 *
 *  All other source code is Copyright (C) 2002-2005 OpenVPN Solutions LLC,
 *  and is released under the GPL version 2 (see below).
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2
 *  as published by the Free Software Foundation.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program (see the file COPYING included with this
 *  distribution); if not, write to the Free Software Foundation, Inc.,
 *  59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#include <windows.h>
#include <ntverp.h>

/* get VERSION */
#include "config-win32.h"
#include "common.h"

#include <VBox/tapwin32.h>
#include <VBox/version.h>

/* VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
 * and VER_INTERNALNAME_STR must be defined before including COMMON.VER
 * The strings don't need a '\0', since common.ver has them.
 */

#define	VER_FILETYPE	VFT_DRV
/* possible values:		VFT_UNKNOWN
				VFT_APP
				VFT_DLL
				VFT_DRV
				VFT_FONT
				VFT_VXD
				VFT_STATIC_LIB
*/
#define	VER_FILESUBTYPE	VFT2_DRV_NETWORK
/* possible values		VFT2_UNKNOWN
				VFT2_DRV_PRINTER
				VFT2_DRV_KEYBOARD
				VFT2_DRV_LANGUAGE
				VFT2_DRV_DISPLAY
				VFT2_DRV_MOUSE
				VFT2_DRV_NETWORK
				VFT2_DRV_SYSTEM
				VFT2_DRV_INSTALLABLE
				VFT2_DRV_SOUND
				VFT2_DRV_COMM
*/

#define VER_COMPANYNAME_STR         VBOX_RC_COMPANY_NAME
#define VER_FILEDESCRIPTION_STR     "VirtualBox Host Interface Networking Driver"
#define VER_ORIGINALFILENAME_STR    TAP_COMPONENT_ID ".sys"
#define VER_LEGALCOPYRIGHT_YEARS    "2008"
#define VER_LEGALCOPYRIGHT_STR      "Sun Microsystems, Inc. & Others"


#define VER_PRODUCTNAME_STR         VER_FILEDESCRIPTION_STR
#define VER_PRODUCTVERSION	    TAP_DRIVER_MAJOR_VERSION,00,00,TAP_DRIVER_MINOR_VERSION

#define XSTR(s) STR(s)
#define STR(s) #s

#define VSTRING XSTR(TAP_DRIVER_MAJOR_VERSION) "/" XSTR(TAP_DRIVER_MINOR_VERSION)

#ifdef DBG
#define VER_PRODUCTVERSION_STR      VSTRING " (DEBUG)"
#else
#define VER_PRODUCTVERSION_STR      VSTRING
#endif

#define VER_INTERNALNAME_STR        VER_ORIGINALFILENAME_STR

#include "common.ver"
