<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>                   <string>org.virtualbox.mpkg.virtualbox</string>
        <key>CFBundleName</key>                         <string>The @VBOX_PRODUCT@ Package</string>
        <key>CFBundleGetInfoString</key>                <string>@VBOX_PRODUCT@ @VBOX_VERSION_STRING@, © 2009-@VBOX_C_YEAR@ @VBOX_VENDOR@</string>
        <key>CFBundleShortVersionString</key>           <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
        <key>IFMajorVersion</key>                       <integer>@VBOX_VERSION_MAJOR@</integer>
        <key>IFMinorVersion</key>                       <integer>@VBOX_VERSION_MINOR@</integer>
        <key>IFPkgFormatVersion</key>                   <real>0.10000000149011612</real>
        <key>IFPkgFlagComponentDirectory</key>          <string>./Contents/Packages/</string>
        <key>IFPkgFlagRootVolumeOnly</key>              <true/>
        <key>IFPkgFlagFollowLinks</key>                 <false/>
        <key>IFPkgFlagPackageList</key>
	<array>
		<dict>
			<key>IFPkgFlagPackageLocation</key>             <string>VBoxKEXTs.pkg</string>
			<key>IFPkgFlagPackageSelection</key>            <string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>             <string>VBoxStartupItems.pkg</string>
			<key>IFPkgFlagPackageSelection</key>            <string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>             <string>VirtualBox.pkg</string>
			<key>IFPkgFlagPackageSelection</key>            <string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>             <string>VirtualBoxCLI.pkg</string>
			<key>IFPkgFlagPackageSelection</key>            <string>selected</string>
		</dict>
	</array>
</dict>
</plist>
