[Unit]
Description=VirtualBox Test Execution Service
SourcePath=/opt/validationkit/linux/vboxtxs-runvm

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/vbox/.Xauthority"
ExecStart=/opt/validationkit/linux/vboxtxs-runvm start
ExecStop=/opt/validationkit/linux/vboxtxs-runvm stop

[Install]
WantedBy=graphical.target

