<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>                   <string>org.virtualbox.pkg.virtualbox</string>
        <key>CFBundleName</key>                         <string>The @VBOX_PRODUCT@ Application Package</string>
        <key>CFBundleGetInfoString</key>                <string>@VBOX_PRODUCT@ @VBOX_VERSION_STRING@, © 2009-@VBOX_C_YEAR@ @VBOX_VENDOR@</string>
        <key>CFBundleShortVersionString</key>           <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
        <key>IFMajorVersion</key>                       <integer>@VBOX_VERSION_MAJOR@</integer>
        <key>IFMinorVersion</key>                       <integer>@VBOX_VERSION_MINOR@</integer>
        <key>IFPkgFlagAllowBackRev</key>                <false/>
        <key>IFPkgFlagAuthorizationAction</key>         <string>RootAuthorization</string>
        <key>IFPkgFlagDefaultLocation</key>             <string>/</string>
        <key>IFPkgFlagInstallFat</key>                  <false/>
        <key>IFPkgFlagIsRequired</key>                  <true/>
        <key>IFPkgFlagRelocatable</key>                 <false/>
        <key>IFPkgFlagRestartAction</key>               <string>NoRestart</string>
        <key>IFPkgFlagRootVolumeOnly</key>              <true/>
        <key>IFPkgFlagUpdateInstalledLanguages</key>    <false/>
        <key>IFPkgFormatVersion</key>                   <real>0.10000000149011612</real>
        <key>IFPkgFlagOverwritePermissions</key>        <false/>
        <key>IFPkgFlagFollowLinks</key>                 <false/>
</dict>
</plist>
