[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=innotek VirtualBox
GenericName=Virtual Machine
Type=Application
Exec=VirtualBox
TryExec=VirtualBox
DocPath=file://$VBOX_DOC_PATH/UserManual.pdf
Path=
Icon=VBox.png
Categories=Application;Emulator;System;X-MandrivaLinux-System;
Comment=Run several virtual systems on a single host computer
Comment[de]=Windows und andere Betriebssysteme unter Linux ausführen
Comment[sv]=Kör flera virtuella system på en enda värddator
Comment[ko]=가상 머신
