/*
 * Copyright (C) 2006-2007 innotek GmbH
 *
 * This file is part of VirtualBox Open Source Edition (OSE), as
 * available from http://www.virtualbox.org. This file is free software;
 * you can redistribute it and/or modify it under the terms of the GNU
 * General Public License as published by the Free Software Foundation,
 * in version 2 as it comes in the "COPYING" file of the VirtualBox OSE
 * distribution. VirtualBox OSE is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY of any kind.
 *
 * If you received this file as part of a commercial VirtualBox
 * distribution, then only the terms of your commercial VirtualBox
 * license agreement apply instead of the previous paragraph.
 */

#include <windows.h>
#include <ntverp.h>
#include <VBox/version.h>

#define VER_FILETYPE                 VFT_DRV
#define VER_FILESUBTYPE              VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR      "VirtualBox Mouse Filter"
#define VER_INTERNALNAME_STR         "VBoxMouse.sys"
#define VER_ORIGINALFILENAME_STR     "VBoxMouse.sys"
#define VER_LEGALCOPYRIGHT_STR       VBOX_RC_LEGAL_COPYRIGHT
#define VER_PRODUCTNAME_STR          "VirtualBox Guest Additions"
#define VER_PRODUCTVERSION_STR       VBOX_RC_PRODUCT_VERSION_STR
#define VER_FILEVERSION_STR          VBOX_RC_FILE_VERSION_STR
#define VER_PRODUCTVERSION           VBOX_RC_PRODUCT_VERSION
#define VER_FILEVERSION              VBOX_RC_FILE_VERSION
#define VER_COMPANYNAME_STR          VBOX_RC_COMPANY_NAME

#include "common.ver"


